footer{
    background-color: #F18BD6;
    text-align: center;
    padding: 10px;
    grid-area: footer;
    font-family: 'Chelsea Market', cursive;

    .seguinos{
        font-size: 15px;
    }

    .fb, .ig{
        width: 30px;
        height: 30px;
    }
}

/***responsive***/

@media screen and (min-width:576px){
    .seguinos{
        font-size: 20px;
    }
}