.marca{
    /*grid-area: marca;*/
    font-family: 'Chelsea Market', cursive;
    font-size: 10px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: $colorFondo ;
}

.barraNav{
    background-color: #F18BD6;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    /*grid-area: barraNav;*/

    ul{
        list-style: none;
        text-align: center;
    
        a{
            text-decoration: none;
        }
    }
}
