.grillaGaleria{
    font-family: 'Amatic SC', cursive;
    background-color: $colorFondo; 

    .tituloAnimales{
        @include Secciones-galeria (#77C1F7, white, center, 50px);
        margin-left: 15px;
        margin-right: 15px;
    }
    .tutuloColores{
        @include Secciones-galeria (#F18BD6, #FEEDA5, end, 50px );
    }
    .tituloDinos{
        @include Secciones-galeria (#77C1F7, white, first, 50px);
    }
    .fotoGale{
        width: 230px;
        height: 250px;
        padding: 20px;
    }
}