.grillaIndex{
    font-family: 'Amatic SC', cursive;
    background-color: $colorFondo; 
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 
    "todo"
    "fotoTodo"
    "pinata"
    "deco"
    "mas";
    gap: 10px;
    text-align: center;
    justify-content: center;

    
    .todo{
        background-color: #77C1F7;
        text-align: center;
        grid-area: todo;
        width: 299px;
        margin-top: 10px;
    
        .tituloTodo{
            font-size: 40px;
            color: white;
            font-weight: bolder;
        }
    }

    .fotoTodo{
        grid-area: fotoTodo;
    }

    .pinata{
        grid-area: pinata;
    
        .fotoPinata{
            @include bordes-fotos (solid, #77C1F7, dotted, 4px);
        }
        .textoIndex{
            font-size: 30px;
        }
    }

    .deco{
        grid-area: deco;

        .fotoDeco{
            @include bordes-fotos (solid, #F18BD6, double, 4px);
        }
        .textoIndex{
            font-size: 30px;
        }
    }

    .mas{
        grid-area: mas;

        .muchoMas{
            @include bordes-fotos (solid, #77c1f7,dashed, 4px);
                
        }
        .textoIndex{
            font-size: 30px;
        }
    }
}

/***responsive***/

@media screen and (min-width:576px){
    .grillaIndex{
        display: grid;
        grid-template-columns: 2;
        grid-template-areas: 
        "todo       todo"
        "fotoTodo   fotoTodo"
        "pinata     deco"
        "mas        mas";
        justify-content: center;

        .todo{
            font-size: 30px;
            width: 570px;
            
            .tituloTodo{
                font-size: 60px;
                transition-duration: 5s;

                &:hover{
                    transform: scale(1,2);
                }
            }
        }
    
        .fotoPinata{
            transition-duration: 2s;
    
            &:hover{
                transform:translate(10px, 10px)
            }
        }
        
        .fotoDeco{
            transition-duration: 2s;
            
            &:hover{
                transform:translate(10px, 10px)
            }
        }
        
        .muchoMas{
            transition-duration: 2s;
    
            &:hover{
                transform:translate(10px, 10px)
            }
        }
    }
}

@media screen and (min-width:768px){
    .grillaIndex{
        display: grid;
        grid-template-columns: 3;
        grid-template-areas: 
        "todo       todo      todo"
        "fotoTodo   fotoTodo  fotoTodo"
        "pinata     deco      mas";

        .todo{
            font-size: 30px;
            width: 700px;
        }
    }
}