.grillaGaleria{
    font-family: 'Amatic SC', cursive;
    background-color: $colorFondo; 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
    .galeria{
        padding: 10px;
        
        .fotoGale{
            margin-top: 10px;    
            width: 100%;
        } 
    }  
}