.grillaNosotros{
    font-family: 'Amatic SC', cursive;
    background-color: $colorFondo; 
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 
    "marca"
    "barraNav"
    "nosotros"
    "fotoSole"
    "fotoPau"
    "footer";
    gap: 10px;
    text-align: center;

    .nosotros{
        grid-area: nosotros;
    
        .syp{
            color: #77C1F7;
            font-size: 70px;
        }

        .sobreNos{
            font-size: 25px;
        }
    }

    .fotoSole{
    grid-area: fotoSole;
    }
    
    .fotoPau{
    grid-area: fotoPau;
    }
}

/***responsive***/

@media screen and (min-width:576px){
    .grillaNosotros{
        display: grid;
        grid-template-columns: 2;
        grid-template-areas: 
        "marca      marca"
        "barraNav   barraNav"
        "nosotros   nosotros"
        "fotoSole   fotoPau"
        "footer     footer";

        .sobreNos{
            font-size: 25px;
        }
    }
}
@media screen and (min-width:768px){
    .grillaNosotros{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 
        "marca      marca"
        "barraNav   barraNav"
        "nosotros   fotoPau"
        "nosotros   fotoSole"
        "footer      footer";
        gap: 10px;
    
        .sobreNos{
            font-size: 30px;
        }
    }
}